* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.chromaquimic {
    background-image: linear-gradient(90deg, #7c7cff 20%, #b8b8f9 80%);
}

/* Menu -> Pagina Inicial  */

header {
    z-index: 99999;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

header i.bx-menu {
    display: none;
}

header i.bx-x {
    display: none;
}

#navlist ul {
    list-style-type: none;
    display: flex;
    padding: 40px 100px 0px 0px;
}

#navlist ul li {
    color: black;
    background-color: rgba(255, 255, 255, 0.959);
    font-weight: 400;
    padding: 8px 0px 8px 0px;
    margin-left: 25px;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

#navlist li:hover {
    border-bottom: 2px solid black;
    transform: translateX(-10px);
    color: rgba(0, 0, 0, 0.349);
}

#navlist ul li:hover ul {
    display: block;
}

#navlist ul ul {
    display: none;
    position: absolute;
    padding-top: 20px;
}

#navlist ul ul li {
    color: rgba(0, 0, 0, 0.349);
    margin: 0;
    padding: 10px;
}

#navlist ul ul li:hover {
    color: black;
}

/* bunner -> Pagina Inicial */

#indexbunner #t1 {
    font-size: 35px;
    transition: all .55s ease;
}

.bxs-vial {
    font-size: 30px;
}

#indexbunner {
    user-select: none;
    justify-content: center;
    display: flex;
    height: 93vh;
    align-items: center;
}

#indexbunner #t2 {
    display: block;
    text-transform: uppercase;
    line-height: 75%;
    font-size: 10vw;
    font-weight: 700;
    transition: all .55s ease;
}


#indexbunner #t3 {
    font-size: 35px;
    text-align: end;
    transition: all .55s ease;
}

#indexbunner em {
    color: white;
    font-style: normal;
    padding: 0px 5px 0px 5px;
    background-image: linear-gradient(90deg, #7c7cff 20%, #b8b8f9 80%);
}

/* Bunner -> Sobre */

#headerSobre {
    position: sticky;
    top: 0;
    background-color: white;
    height: 8vh;
    transition: all 0.5s ease;
}

#headerSobre #navlist ul {
    padding: 0px 100px 0px 0px;
}

#headerSobre #navlist ul ul {
    padding: 20px 100px 0px 0px;
}

#headerSobre.rolagem {
    width: 100vw;
    margin-left: 0vw;
    filter: invert(100%);
}

#sobrebunnersec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    width: 100vw;
    margin-bottom: 100px;
}

#sobreBunner {
    padding: 0px 100px 0px 100px;
}

#sobreBunnertittle {
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 30px;
}

#sobreBunnertext {
    text-align: justify;
    font-size: 30px;
}

#sobreButton {
    display: inline;
    justify-content: end;
    width: 100%;
}

#sobreButton button {
    cursor: pointer;
    appearance: none;
    padding: 10px;
    border: 0px;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 5px;
    transition: all .35s ease;
}

#sobreButton button:hover {
    filter: invert(100%)
}

.chromaquimic {
    color: white;
    font-size: 20px;
}

/* Bunner -> Sobre -> Individual*/

#sobreIndividual {
    font-size: 50px;
    padding-left: 100px;
}

.users {
    margin: 50px 0px 50px;
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.userimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.userimg img {
    border-radius: 100%;
    width: 200px;
    height: auto;
}

.redes {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.redes i {
    cursor: pointer;
    margin: 10px 10px 0px 10px;
    transition: all .35s ease;
}

.redes i:hover {
    transform: translateY(5px);
}

/* Config page */
#headerconfig {
    height: 8vh;
    position: sticky;
    top: 0;
    background-color: white;
}

#headerconfig #navlist ul {
    padding: 0px 100px 0px 0px;
}

#headerconfig #navlist ul {
    padding: 10px 0px 10px 0px;
}

#mainconfig {
    width: 100vw;
    background-color: rgba(73, 73, 73, 0.178);
    display: flex;
}

#navlateral {
    position: sticky;
    top: 0;
    top: 8vh;
    width: 200px;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#navlateral ul {
    width: 200px;
    list-style: none;
}

#navlateral ul a {
    text-decoration: none;
    color: black
}

#navlateral ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

#navlateral ul li:hover {
    background-color: rgb(196, 196, 196);
}

#configs {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
}

.tittleconfig {
    display: flex;
    justify-content: center;
    font-size: 35px;
    border-bottom: 2px solid black;
}

.allconfig {
    margin-top: 100px;
    width: 50%;
}

.config {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 20px;
}

#configs input {
    cursor: pointer;
    appearance: none;
    border: 2px solid black;
    border-radius: 5px;
    inline-size: 60px;
    block-size: 40px;
    height: 40px;
    width: 60px;
    background-color: transparent
}

#configs button {
    cursor: pointer;
    appearance: none;
    font-size: 25px;
    background-color: transparent;
    border: 2px solid black;
    height: 40px;
    width: 60px;
    border-radius: 5px;
}

#configs select {
    appearance: none;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
}

#configs input,
button,
select:hover {
    opacity: 0.5;
}

/* Footer */

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 300px;
    width: 100vw;
}

footer img {
    width: 200px;
    height: auto;
}

footer div ul {
    font-weight: 100;
    list-style: none;
}

@media (max-width: 1000px) {
    /* Sobre nos */

    .users {
        margin: 50px 0px 50px;
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .user{
        margin: 50px;
    }
    #sobreBunnertext {
        font-size: 22px;
    }

}

@media (max-width: 950px) {

    /* Menu Responsivo */
    header {
        text-align: center;
    }

    #navlist {
        display: none;
        width: 100vw;
    }

    #navlist.openMenu {
        display: block;
    }

    header i.bx-menu {
        display: block;
        font-size: 60px;
        margin: 30px 15px;
        display: flex;
        align-items: center;
    }

    header i.bx-x {
        display: block;
        font-size: 60px;
        margin: 30px 15px;
        display: flex;
        align-items: center;
    }

    #navlist ul {
        text-align: center;
        width: 100vw;
        backdrop-filter: blur(10px);
        top: 70px;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.6);
    }

    #navlist li:hover {
        border-bottom: 2px solid black;
        transform: translateX(0px);
        color: rgb(0, 0, 0);
        border-bottom: 0px;
    }

    #navlist li ul li:hover {
        color: rgb(0, 0, 0);
    }

    #navlist ul li {
        width: 100vw;
        margin-left: 0px;
        font-size: 20px;
        background-color: transparent;
    }

    #navlist ul li li {
        color: rgba(0, 0, 0, 0.7);
        padding: 5px;
    }

    #navlist ul i:hover:disabled ul {
        display: block;
    }

    #navlist ul ul {
        height: 90%;
        width: 100vw;
        top: 10px;
        padding: 0px;
        margin-top: 0;
        display: none;
        position: relative;
        right: 0;
        padding-bottom: 0px;
        margin-bottom: 50px;
        backdrop-filter: blur(0px);
        background-color: transparent;
    }

    /* Fim Menu */

    #indexbunner #t1 {
        text-align: end;
        font-size: 20px;
        display: block;
    }

    #indexbunner #t1 .bxs-vial {
        font-size: 20px;
    }

    #indexbunner #t2 {
        font-size: 100px;
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    #indexbunner #t3 {
        font-size: 20px;
        display: block;
    }

    span {
        margin-bottom: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 100%;
    }

    footer div {
        margin-top: 50px;
    }

}

@media (max-width: 550px){
    #sobreBunnertext {
        text-align: left;
        font-size: 20px;
    }
    #sobreIndividual {
        font-size: 35px;
        padding-left: 50px;
        
    }
    #sobrebunnersec {
        padding-top: 100px;
        height: 100%;
    }
    #sobreBunner {
        padding: 0px 50px 0px 50px;
    }
    #sobreBunnertittle {
        font-weight: 300;
        font-size: 35px;
        margin-bottom: 30px;
    }
}