
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu -> Paginas  */

header{
    position: sticky;
    background-color: white;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    top: 0;
    width: 80vw;
    margin-left: 10vw;
    border-radius: 1px 1px 20px 20px;
    transition: all .5s ease;
}

header.rolagem{
    width: 100vw;
    margin-left: 0;
    filter: invert(100%);
    border-radius: 0px;
}

#navlist{
    margin-right: 20px;
}

#navlist ul{
    list-style-type: none;
    display: flex;
    padding: 5px 100px 0px 0px;
}

#navlist ul li{
    background-color: rgba(255, 255, 255, 0.959);
    font-weight: 400;
    padding: 8px;
    margin-left: 25px;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

#navlist ul li:hover{
    border-bottom: 2px solid black;
    transform: translateX(-10px);
    color: rgba(0, 0, 0, 0.349);
}

#navlist ul li:hover ul{
    display: block;
}

#navlist ul ul{
    margin-top: 10px;
    display: none;
    position: absolute;
}

#navlist ul ul li{
    margin: 0;
    padding: 10px;
}

#navlist ul a{
    color: black;
    text-decoration: none;
}

#navlist ul ul li{
    margin: 0;
    padding: 8px;
}

#navlist ul ul li:hover{
    color: black;
}

/* Fim Menu -> Paginas */

body{
    background-color: #b8b8f967;
}

main {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: auto;
}

main section{
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.438);
    width: 793.7px;
    background-color: white;
    padding: 113.39px 75.6px 75.6px 113.39px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20pt;
}

main h1{
    font-size: 12pt;
    text-transform: uppercase;
    margin-bottom: 20pt;
}

main h2{
    font-weight: 100;
    margin-top: 20pt;
}

main p{
    text-indent:75.6px ;
}
 
main ul{
    margin-left: 75.6px;
}

main ul p{
    display: inline;
    text-indent: 0;
}

main h3{
    font-weight: 600;
}

.figura {
    margin: 18pt 0 18pt 0;
    text-align: center;
    width: 100%;
}

.figura p, .sais{
    text-indent: 0;
}

.ex{
    margin-top: 12pt;
}

img .auto{
    width: 100%;
    height: auto;
}

.figura .font10 {
    font-size: 10pt;
    margin-top: 0px;
    text-indent: 0;
}

.fontimg{
    text-align: start;
}

.menor{
    width: 90%;
}

.tabela{
    width: 70%;
}

.lowercase{
    text-transform: capitalize;
    margin-top: 20pt;
}

.sparag{
    display: inline;
}

.excP{
    display: inline-flex;
    margin-bottom: 0;
}

.referencia {
    text-align: center;
    font-weight: bold;
    margin-top: 12pt ;
}

.contentRef p {
    text-align: left;
    line-height: 12pt;
    padding-top: 12pt;
    text-indent: 0;
    display: inline-block;
}

.tituloRef{
    font-weight: 600;
}

.samb{
    width: 80%;
}

#citacaoDireta{
    margin:1.5cm 0 1.5cm 4cm;
    font-size: 10pt;
    text-indent: 0;
    line-height: 10pt;
}

/* Footer */

footer{
    font-family: 'Poppins', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 300px;
}

footer img{
    width: 200px;
    height: auto;
}

footer div ul{
    font-weight: 100;
    list-style: none;
}