
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu -> Paginas  */

header{
    position: sticky;
    background-color: white;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    top: 0;
    width: 80vw;
    margin-left: 10vw;
    border-radius: 1px 1px 20px 20px;
    transition: all .5s ease;
}

header.rolagem{
    width: 100vw;
    margin-left: 0;
    filter: invert(100%);
    border-radius: 0px;
}

#navlist{
    margin-right: 20px;
}

#navlist ul{
    list-style-type: none;
    display: flex;
    padding: 5px 100px 0px 0px;
}

#navlist ul li{
    color: black;
    background-color: rgba(255, 255, 255, 0.959);
    font-weight: 400;
    padding: 8px;
    margin-left: 25px;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

#navlist ul li:hover{
    border-bottom: 2px solid black;
    transform: translateX(-10px);
    color: rgba(0, 0, 0, 0.349);
}

#navlist ul li:hover ul{
    display: block;
}

#navlist ul ul{
    margin-top: 10px;
    display: none;
    position: absolute;
}

#navlist ul ul li{
    color: rgba(0, 0, 0, 0.349);
    margin: 0;
    padding: 8px;
}

#navlist ul ul li:hover{
    color: black;
}

/* Fim Menu -> Paginas */

body{
    background-color: #b8b8f967;
}

main {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 120px auto 120px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.438);
    width: 793.7px;
    background-color: white;
    padding: 113.39px 75.6px 75.6px 113.39px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20pt;
}


main h1{
    font-size: 12pt;
    text-transform: uppercase;
    margin-bottom: 20pt;
}

main h2{
    font-weight: 100;
    margin-top: 20pt;
    font-size: 12pt;
    margin: 20pt 0;
}

main p{
    text-indent:75.6px ;
}
 
main ul{
    margin-left: 75.6px;
}

main ul h4{
    display: inline;
    text-indent: 0;
}

main ul p{
    display: inline;
}

main h3{
    font-size: 12pt;
    font-weight: 600;
    margin: 20pt 0;
}

main h5{
    font-size: 12pt;
    display: inline;
    font-weight: 100;
}

main figure  {
    margin: 18pt 0 ;
    text-align: center;
    width: 100%;
}

main img{
    width: 500px;
}

figure p, .sais{
    text-indent: 0;
}

.ex{
    margin-top: 12pt;
}

img .auto{
    width: 100%;
    height: auto;
}

figcaption {
    font-size: 10pt;
    margin-top: 0px;
    text-indent: 0;
    text-align: start;
}

.menor{
    width: 90%;
}

.tabela{
    width: 70%;
}

.lowercase{
    text-transform: capitalize;
    margin-top: 20pt;
}

.noparag{
    display: inline;
}

.textoInline{
    display: inline-flex;
    margin-bottom: 0;
}

.referencia {
    text-align: center;
    font-weight: bold;
    margin-top: 12pt ;
  
}

.contentRef p {
    text-align: left;
    line-height: 12pt;
    padding-top: 12pt;
    text-indent: 0;
    display: inline-block;
    word-break:break-word;
}

.tituloRef{
    font-weight: 600;
}

.samb img{
    width: 100%;
}

#citacaoDireta{
    margin:1.5cm 0 1.5cm 4cm;
    font-size: 10pt;
    text-indent: 0;
    line-height: 10pt;
}

#tabelaperiodica img{
    width: 80%;
}
/* Footer */

footer{
    font-family: 'Poppins', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 300px;
}

footer img{
    width: 200px;
    height: auto;
}

footer div ul{
    font-weight: 100;
    list-style: none;
}

/*RESPONSIVIDADE*/

@media (max-width: 834px){
/* Menu -> Paginas  */

#navlist {
    display: none;
}
#navlist.openMenu{
    display: block;
}
header i.bx-menu{
    display: block;
    font-size: 60px;
    margin: 30px;
    display: flex;
    align-items: center;
}
header i.bx-x{
    display: block;
    font-size: 60px;
    margin: 30px;
    display: flex;
    align-items: center;
}

#navlist ul {
    width: 100%;
    backdrop-filter: blur(10px);
    top: 70px;
    right: 0;
    padding: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.521);
}

#navlist ul li {
    font-size: 20px;
    padding: 25px;
    background-color: transparent;
}

#navlist li .bx-chevron-down{
    display: block;
}


#navlist li:hover {
    position: relative;
    display: block;
}

#navlist ul ul {
    margin-top: 0;
    margin-bottom: 50px;
    display: none;
    position: relative;
    right: 0;
}

#navlist ul li:hover ul {
    transition: all .55s ease;
}

/*MAIN*/

main {
    padding: 30px;
    width: 100%;
    margin: 100px auto 100px;
    letter-spacing: 0.5px
}

main p{
    text-indent:20px;
}
main h1, main h2, main h3, main h4,main h5{
    margin-bottom: 10pt;
}

figure p{
    margin: 18pt 0 ;
}

figure img{
    width: 400px;
}

main ul{
    margin-left: 35px;
}
figcaption{
    text-align: center;
}

}
@media (max-width: 500px){
    figure img{
        width: 300px;
    }
}